@import "_colors";

.chat-list {
    background-color: $background-color;
    border-right: 1px solid $border-color;
    box-sizing: border-box;
    overflow: auto;
}

.chat-list-title {
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    height: 75px;
}

.chat-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    padding: 5px;
}

.chat-item:hover {
    background-color: $chat-item-hover-color;
}

.chat-item-selected {
    background-color: $chat-item-selected-color;
}

.chat-item-photo {
    height: 60px;
    width: 60px;
    background-color: $border-color;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.chat-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.chat-item-preview {
    font-size: 14px;
    color: $input-text-color;
    margin-left: 5px;
    margin-right: 5px;
}

.chat-item-date {
    font-size: 14px;
    color: $input-text-color;
    margin-left: 5px;
    margin-right: 5px;
}

.edit-message {
    min-height: 53px;
}

.edit-message-field {
    width: 100%;
    height: 50px;
    font-size: 14px;
    border-width: 1px;
    border-left: 0;
    border-style: solid;
    border-color: $border-color;
    color: $input-text-color;
}

.left-panel {
    width: 500px;
    border: 1px solid $border-color;
}

.messages {
    justify-content: flex-end;
}

.message {
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

.message-companion {
    align-self: flex-start;
    background-color: $message-companion-background-color;
}

.message-own {
    align-self: flex-end;
    background: $message-own-background-color;
}

.message-text {
    align-self: flex-start;
}

.message-time {
    align-self: flex-end;
    margin-top: 5px;
}

.messages-title {
    height: 75px;
    align-items: center;
}

.right-panel {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-color;
    box-sizing: border-box;
}

.select-chat {
    background-color: $white-color;
    justify-content: center;
    align-items: center;
}

.send-button {
    background-color: $primary-color;
    height: 100%;
    width: 50px;
}

.white-border {
    border: 1px solid $white-color;
}
