$primary-color: #38b052;
$error-color: #8b0000;
$border-color: #bdbdbd;
$background-color: #e5e5e5;
$chat-item-hover-color: rgba(56, 176, 82, 0.21);
$chat-item-selected-color: rgba(56, 176, 82, 0.5);
$input-text-color: #4f4f4f;
$message-companion-background-color: #f3f3f3;
$message-own-background-color: rgba(56, 176, 82, 0.21);
$white-color: #fff;
