@import "_colors";

.error-code-font {
    color: $error-color;
    font-size: 144px;
}

.error-description-font {
    font-size: 24px;
}

.error-link-font {
    font-size: 18px;
}

.error-link-font {
    a:link {
        color: $primary-color;
        text-decoration: none;
    }

    a:visited {
        color: $primary-color;
        text-decoration: none;
    }
}
