@import "_colors";

$font-stack: Helvetica, sans-serif;

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

button:focus {
    outline: 0;
}

.app {
    position: fixed;
    width: 80%;
}

.button {
    background-color: $primary-color;
    border-width: 0;
    color: $white-color;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    text-transform: uppercase;
}

h1 {
    font-size: 24px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-screen {
    height: 100vh;
}

.body-font {
    font-size: 16px;
}

.caption-font {
    font-size: 14px;
}

.error-font {
    color: $error-color;
    font-size: 12px;
}

input:focus {
    outline: 0;
}

.title-bar {
    align-items: center;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.white-title {
    nav {
        a:link {
            color: $white-color;
            text-decoration: none;
        }

        a:visited {
            color: $white-color;
            text-decoration: none;
        }
    }
}

.white-title {
    color: $white-color;
    margin-left: 10px;
    margin-right: 10px;
}

.error-helper {
    margin: 10px;
}

.field {
    margin-top: 15px;
    width: 200px;
}

.field {
    input[type="text"],
    input[type="password"] {
        border-color: $border-color;
        border-style: solid;
        color: $input-text-color;
        font-size: 14px;
        height: 50px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}

.centered {
    a {
        margin: 10px;
    }
}

.caption {
    color: $input-text-color;
    font-size: 12px;
}

.centered-container {
    align-items: center;
}

.vertical-centered-container {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.column-container {
    display: flex;
    flex-direction: column;
}

hr.devider {
    border-top: 1px solid $border-color;
    margin: 0 10px;
}

.filler {
    width: 100%;
}

.overflow-auto {
    overflow: auto;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.zero-margin {
    margin: 0;
}
