@import "_colors";

.button-save {
    width: 100px;
    margin-top: 15px;
}

.user-profile {
    margin-top: 10px;
}

.user-profile-title {
    height: 75px;
    background-color: $primary-color;
    align-items: center;
    justify-content: space-between;
}

.user-profile-photo {
    height: 250px;
    width: 250px;
    background-color: $border-color;
    border-radius: 50%;
    display: inline-block;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
